* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/* 1) State check krni ani chaiyan */
/* 2) ager check box cliked hai to select kerna hai menu items */
body{
  background-color: lightblue;
}
.hamburger-menu {
  height: 90px;
  position: relative;
}
.hamburger-menu .menu-items {
  transition: transform 0.3s ease-in-out;
  transform: translateX(-180%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -1px;
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 400px;
  width: 100%;
  z-index: 1;
}

.hamburger-menu .menu-items li {
  list-style-type: none;
  font-size: 1.2rem;
  cursor: pointer;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  color: #fff;
}
.hamburger-menu .menu-items li:hover{
  color: goldenrod;
}

.hamburger-menu .menu-items li:first-child {
  margin-top: 3.5rem;
}
.hamburger-menu .menu-items li:last-child {
  margin-bottom: 2rem;
}

.hamburger-menu input[type="checkbox"] {
  transform: scale(2.5, 2);
  position: absolute;
  left: 15px;
  top: 14px;
  z-index: 4;
  opacity: 0;
  /* margin-left:500px; */

}

.hamburger-lines{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 6px;
  top: 6px;
  /* margin-left:500px; */
  
}

.hamburger-lines .line{
  background-color: black;
  margin-top: 0.2rem;
  border-radius: 10px;
  width: 20px;
  height: 3px;
}

.hamburger-menu input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0%);
  background-color: #232323;
}

.hamburger-menu input[type="checkbox"]:checked ~ .hamburger-lines .line{
  background-color: goldenrod;
  z-index: 3;
}

.hamburger-lines .line-1{
  transform-origin: 0% 300%;
  transition: transform 0.3s ease-in-out;
}

.hamburger-lines .line-3{
  transform-origin: 70% 0%;
  transition: transform 0.3s ease-in-out;
}

.hamburger-menu input[type="checkbox"]:checked ~ .hamburger-lines .line-1{
  transform: rotate(45deg);
}
.hamburger-menu input[type="checkbox"]:checked ~ .hamburger-lines .line-3{
  transform: rotate(-45deg);
}
.hamburger-menu input[type="checkbox"]:checked ~ .hamburger-lines .line-2{
  display: none;
}

